<!DOCTYPE html>
<html>

<head>
  <title>NFL Informer</title>
  <link rel="shortcut icon"
    href="https://imagecomposer.nfl.com/?l=http://static.nfl.com/static/content/public/static/img/promo-banner/logos--league-NFLShieldPrimary-128.png%3Bboxblur(4%25%2C4%25)&f=png&w=50&c=100" />
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head>

<body>

  <nav
    class="navbar navbar-expand-lg fixed-top navbar-light bg-light border-top border-info border-3 justify-content-between">

    <div>
      <a href="/"><img src="nfl100.svg" style="max-height: 30px" alt="NFL Logo"></a>
      <a class="navbar-brand mr-0" href="/">NFL Informer</a>
    </div>
    <div>
      <a id="doTheScrape" class="btn btn-light d-flex ml-auto nav-item ">Update Articles</a>
    </div>

  </nav>

  <div class="mt-4 mb-4">I MADE THIS FOR YOU!!!!!</div>

  <!-- Page Content -->
  <div id="content">

    {{{body}}}

  </div>

  <script src="https://code.jquery.com/jquery-3.4.1.min.js"
    integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>
  <script src="/js/index.js"></script>
</body>

</html>